extends layout

block content
  h1= title
  form#form(action="/upload", method='post', enctype="multipart/form-data")
    input(type='file', name='image')
    input(type='submit')


  script.
    document.getElementById('form').onsubmit = function (event) {
      event.preventDefault()
      var fileInput = event.target.elements[0]
      var file = fileInput.files[0]
      var formData = new FormData()
      formData.append('image', file)
      fetch(
        '/upload',
        {
          method: "POST",
          body: formData
        }
      ).then(response => response.text()).then(
        response => {
          console.log(response)
        }
      )
    }